{
  "swagger": "2.0",
  "info": {
    "title": "Prode Back API",
    "description": "API del proyecto Prode",
    "version": "v1"
  },
  "host": "prode.vera-demo.site",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/leagues/": {
      "get": {
        "operationId": "leagues_list",
        "description": "GET  /api/leagues/  → mis ligas (creadas o donde soy miembro)\nPOST /api/leagues/  → crear liga (me agrega como miembro y owner)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/League"
              }
            }
          }
        },
        "tags": [
          "leagues"
        ]
      },
      "post": {
        "operationId": "leagues_create",
        "description": "GET  /api/leagues/  → mis ligas (creadas o donde soy miembro)\nPOST /api/leagues/  → crear liga (me agrega como miembro y owner)",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/League"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/League"
            }
          }
        },
        "tags": [
          "leagues"
        ]
      },
      "parameters": []
    },
    "/leagues/join/": {
      "post": {
        "operationId": "leagues_join_create",
        "description": "POST /api/leagues/join/  body: {join_code} → me une a la liga.",
        "parameters": [],
        "responses": {
          "201": {
            "description": ""
          }
        },
        "tags": [
          "leagues"
        ]
      },
      "parameters": []
    },
    "/leagues/{id}/ranking/": {
      "get": {
        "operationId": "leagues_ranking_list",
        "description": "GET /api/leagues/\u003Cid\u003E/ranking/ → ranking de la liga (sólo miembros).",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "leagues"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/matches/": {
      "get": {
        "operationId": "matches_list",
        "description": "GET /api/matches/ → lista de partidos.\nFiltros opcionales por query param: ?group=Group A  ?stage=GROUP_STAGE  ?status=TIMED",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match"
              }
            }
          }
        },
        "tags": [
          "matches"
        ]
      },
      "parameters": []
    },
    "/matches/{id}/": {
      "get": {
        "operationId": "matches_read",
        "description": "GET /api/matches/\u003Cid\u003E/ → detalle de un partido.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Match"
            }
          }
        },
        "tags": [
          "matches"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this match.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/predictions/": {
      "get": {
        "operationId": "predictions_list",
        "description": "GET  /api/predictions/  → mis pronósticos\nPOST /api/predictions/  → crea o actualiza mi pronóstico para un partido (upsert).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Prediction"
              }
            }
          }
        },
        "tags": [
          "predictions"
        ]
      },
      "post": {
        "operationId": "predictions_create",
        "description": "GET  /api/predictions/  → mis pronósticos\nPOST /api/predictions/  → crea o actualiza mi pronóstico para un partido (upsert).",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Prediction"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Prediction"
            }
          }
        },
        "tags": [
          "predictions"
        ]
      },
      "parameters": []
    },
    "/profile/": {
      "get": {
        "operationId": "profile_list",
        "description": "Devuelve los datos del usuario autenticado.\nRequiere header: Authorization: Bearer \u003Caccess_token\u003E",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Datos del usuario autenticado",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "username": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "is_staff": {
                  "type": "boolean"
                },
                "profile_picture_url": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "profile"
        ]
      },
      "parameters": []
    },
    "/ranking/": {
      "get": {
        "operationId": "ranking_list",
        "description": "GET /api/ranking/ → ranking global.",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "ranking"
        ]
      },
      "parameters": []
    },
    "/token/": {
      "post": {
        "operationId": "token_create",
        "description": "Login con email + password.\nDevuelve access token, refresh token y datos básicos del usuario.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomTokenObtainPair"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomTokenObtainPair"
            }
          }
        },
        "tags": [
          "token"
        ]
      },
      "parameters": []
    },
    "/token/refresh/": {
      "post": {
        "operationId": "token_refresh_create",
        "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        },
        "tags": [
          "token"
        ]
      },
      "parameters": []
    },
    "/token/verify/": {
      "post": {
        "operationId": "token_verify_create",
        "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        },
        "tags": [
          "token"
        ]
      },
      "parameters": []
    }
  },
  "definitions": {
    "League": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 120,
          "minLength": 1
        },
        "join_code": {
          "title": "Join code",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        },
        "owner": {
          "title": "Owner",
          "type": "integer",
          "readOnly": true
        },
        "members_count": {
          "title": "Members count",
          "type": "string",
          "readOnly": true
        },
        "create_date": {
          "title": "Create date",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "Team": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 120,
          "minLength": 1
        },
        "code": {
          "title": "Code",
          "type": "string",
          "maxLength": 10,
          "x-nullable": true
        },
        "group": {
          "title": "Group",
          "type": "string",
          "maxLength": 20,
          "x-nullable": true
        },
        "flag_url": {
          "title": "Flag url",
          "type": "string",
          "format": "uri",
          "maxLength": 300,
          "x-nullable": true
        }
      }
    },
    "Match": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "stage": {
          "title": "Stage",
          "type": "string",
          "maxLength": 40,
          "x-nullable": true
        },
        "group": {
          "title": "Group",
          "type": "string",
          "maxLength": 20,
          "x-nullable": true
        },
        "matchday": {
          "title": "Matchday",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": -2147483648,
          "x-nullable": true
        },
        "home_team": {
          "$ref": "#/definitions/Team"
        },
        "away_team": {
          "$ref": "#/definitions/Team"
        },
        "utc_date": {
          "title": "Utc date",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "SCHEDULED",
            "TIMED",
            "IN_PLAY",
            "PAUSED",
            "FINISHED",
            "SUSPENDED",
            "POSTPONED",
            "CANCELLED"
          ]
        },
        "home_score": {
          "title": "Home score",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": -2147483648,
          "x-nullable": true
        },
        "away_score": {
          "title": "Away score",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": -2147483648,
          "x-nullable": true
        },
        "winner": {
          "title": "Winner",
          "type": "string",
          "enum": [
            "HOME_TEAM",
            "AWAY_TEAM",
            "DRAW"
          ],
          "x-nullable": true
        }
      }
    },
    "Prediction": {
      "required": [
        "match",
        "home_score",
        "away_score"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "match": {
          "title": "Match",
          "type": "integer"
        },
        "match_detail": {
          "title": "Match detail",
          "type": "string",
          "readOnly": true
        },
        "home_score": {
          "title": "Home score",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "away_score": {
          "title": "Away score",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "points": {
          "title": "Points",
          "type": "integer",
          "readOnly": true
        },
        "is_scored": {
          "title": "Is scored",
          "type": "boolean",
          "readOnly": true
        },
        "is_exact": {
          "title": "Is exact",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "CustomTokenObtainPair": {
      "required": [
        "password",
        "email"
      ],
      "type": "object",
      "properties": {
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        }
      }
    },
    "TokenRefresh": {
      "required": [
        "refresh"
      ],
      "type": "object",
      "properties": {
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        },
        "access": {
          "title": "Access",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "TokenVerify": {
      "required": [
        "token"
      ],
      "type": "object",
      "properties": {
        "token": {
          "title": "Token",
          "type": "string",
          "minLength": 1
        }
      }
    }
  }
}